ansible-lint==5.0.1
ansible==2.10.7
black==20.8b1
docker==4.4.2
ipdb==0.13.4
isort==5.7.0
molecule[docker]==3.2.3
pytest-testinfra==6.1.0

# Freeze cryptography since it requires Rust now.
cryptography==3.3.2